
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100365524450-r1gn6n879462149q0ar6mq2h4m3voemu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100365524450-r1gn6n879462149q0ar6mq2h4m3voemu</string>
	<key>API_KEY</key>
	<string>AIzaSyALqAAJo5miQKfk-l-Mra_exReZHDilwqE</string>
	<key>GCM_SENDER_ID</key>
	<string>100365524450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.alancharles.pushTest</string>
	<key>PROJECT_ID</key>
	<string>push-test-81927</string>
	<key>STORAGE_BUCKET</key>
	<string>push-test-81927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100365524450:ios:71dbd5ddc2fd05c0e3adbb</string>
</dict>
</plist>
